# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.opendb

# Compiled Dynamic libraries
*.so
# *.dylib
*.pdb
*.idb
*.opensdf
*.ilk
*.exe
*.ipch
*.tlog
*.suo
*.sdf
*.d
*.hmap
*.dia
*.user
*.log
*.db

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Android trash
*.apk
*.jar

# Xcode crap
*mode1v3
*pbxuser
*perspectivev3
*xcuserdata*
*xcworkspace*

# Resources
*-uncompressed.vertices.data
*-compressed.vertices.data
*-faces.data
*-vbos.data
*-ibos.data
*-splatting.textures.m.data
*-splatting.textures.d.data
*-splatting.textures.n.data
*-tangent.space.data
*-attaches.vbo.data

# Junk files on Mac OS X
*.DS_Store

# Directories
Debug/
Release/
bin/
build/