<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414760299635-8rvsf675h9b1fvu63m5cf5p5v5ukuk61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414760299635-8rvsf675h9b1fvu63m5cf5p5v5ukuk61</string>
	<key>API_KEY</key>
	<string>AIzaSyCH3vV4FhUZlDBvaXJ6ktsaB5xrtX4mJjs</string>
	<key>GCM_SENDER_ID</key>
	<string>414760299635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drift.hyper</string>
	<key>PROJECT_ID</key>
	<string>hyper-drift</string>
	<key>STORAGE_BUCKET</key>
	<string>hyper-drift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414760299635:ios:2159764dc603f63c</string>
	<key>DATABASE_URL</key>
	<string>https://hyper-drift.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1553580872284996~3793679352</string>
</dict>
</plist>